<form action="/results" method="post">
  <label for="length">Enter your package length:</label>
  <input id="length" name="length" type="text">
  <label for="width">Enter your package width:</label>
  <input id="width" name="width" type="text">
  <label for="height">Enter your package height:</label>
  <input id="height" name="height" type="text">
  <label for="weight">Enter your package weight:</label>
  <input id="weight" name="weight" type="text">
  <button type="submit">Get Estimate!</button>
</form>